{
  "editor.fontFamily": "Cica",
  "editor.fontSize": 22,
  "editor.formatOnSave": true,
  "editor.renderWhitespace": "boundary",
  "editor.rulers": [
    100
  ],
  "files.eol": "\n",
  "nix.enableLanguageServer": true,
  "nix.serverPath": "{{ .nix.profileDir }}/nixd",
  "nix.serverSettings": {
    "formatting": {
      "command": [
        "nixfmt"
      ]
    }
  },
  "terminal.integrated.fontFamily": "Cica",
  "window.zoomLevel": 2,
  "workbench.colorTheme": "Catppuccin Frappé",
  "workbench.iconTheme": "catppuccin-frappe",
}
