{
  "editor.fontFamily": "Cica",
  "editor.fontSize": 22,
  "editor.formatOnSave": true,
  "editor.renderWhitespace": "boundary",
  "editor.rulers": [
    100
  ],
  "files.eol": "\n",
  "nix.enableLanguageServer": true,
  "nix.serverPath": "{{ .nix.profileDir }}/nixd",
  "nix.serverSettings": {
    "formatting": {
      "command": [
        "nixfmt"
      ]
    }
  },
  "terminal.integrated.fontFamily": "Cica",
  "window.zoomLevel": 2,
  "workbench.colorTheme": "Catppuccin Frappé",
  "workbench.iconTheme": "catppuccin-frappe",
  "files.watcherExclude": {
    "**/.bloop": true,
    "**/.metals": true
  },
  "[scala]": {
    "editor.tabSize": 2,
    "editor.suggestSelection": "first",
    "editor.formatOnSave": true,
    "editor.defaultFormatter": "scalameta.metals",
    "editor.autoIndent": "advanced"
  },
  "metals.serverVersion": "1.6.7+21-7150cac2-SNAPSHOT",
  "extensions.experimental.affinity": {
    "asvetliakov.vscode-neovim": 1
  }
}
