set-option -g default-shell "{{ output "which" "fish" }}"

# enable gui color
set-option -g default-terminal "screen-256color"
set-option -ga terminal-overrides ',xterm-256color:Tc'

# change prefix key
set -g prefix C-j
unbind C-b

# select pane with vim key bindings
bind h select-pane -L
bind j select-pane -D
bind k select-pane -U
bind l select-pane -R

# enable vim key bindings on copy mode
set-window-option -g mode-key vi

# copy to clipboard like vim keybind
bind -T copy-mode-vi v send-keys -X begin-selection
{{ if eq .chezmoi.os "linux" }}
bind-key -T copy-mode-vi y send-keys -X copy-pipe-and-cancel "wl-copy"
bind-key -T copy-mode-vi Enter send-keys -X copy-pipe-and-cancel "wl-copy"
{{ else if eq .chezmoi.os "darwin" }}
bind-key -T copy-mode-vi y send-keys -X copy-pipe-and-cancel "pbcopy"
bind-key -T copy-mode-vi Enter send-keys -X copy-pipe-and-cancel "pbcopy"
{{ else }}
{{ end }}
'';
